doctype html 
 html 
  head 
   title Bhavesh Dance Academy 

body
    h1 Register With Your Information 
    form(action="/")
     label(for="name" name="name") Enter Name: 
     input(type="text")
     br
     label(for="email") Enter Your Email: 
     input(type="email" name="email")

