doctype html 
html 
  head 
   title Bhavesh Dance Academy 

body
    h1 Register With Your Information 
    form(action="/")
     label(for="firstName") Enter First Name: 
     input(type="text" name="firstName")
     br
     label(for="lastName") Enter Last Name: 
     input(type="text" name="lastName")
     br
     label(for="email") Enter Your Email: 
     input(type="email" name="email")

